# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/amapels-ng
# Or use MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/amapels-ng?retryWrites=true&w=majority

# Paystack Configuration
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_test_fa6746bb37adf4c948f664f6c5f828232212ca8e
PAYSTACK_SECRET_KEY=sk_test_2123289e6435a7fd496da2597503940b8c38d3b1
